body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 24px 0;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}

.header__container {
  display: grid;
  grid-template-columns: 130px auto;
}

.header__wrapper {
  width: 800px;
  margin: 0 auto;
}

.header__title {
  margin: 0;
  white-space: nowrap;
}

.container {
  padding: 89px 0 52px;
  font-size: 24px;
  text-align: center;
}

.form {
  position: relative;
  padding: 0 100px 0 20px;
}

.form__title,
.form__description {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
  outline: 0;
  background-color: #fff;
}

.form__description {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form__type {
  display: inline-block;
  width: 180px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
  outline: 0;
  background-color: #fff;
}

.form__extra {
  display: flex;
  justify-content: space-between;
}

#form__date,
#form__time {
  display: inline-block;
  width: 170px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
  outline: 0;
  background-color: #fff;
}

.form__chevron {
  position: absolute;
  top: 10px;
  right: 70px;
  cursor: pointer;
}

#form__details {
  text-align: left;
}

.form__button {
  display: none;
  padding: 10px;
  font-size: 20px;
}

.list {
  margin: 20px 0 20px;
  padding: 0;
  font-size: 24px;
  list-style: none;
  text-align: left;
}

.list__item {
  margin-bottom: 10px;
}

.list__item:hover .trash,
.list__item:hover .edit {
  display: inline;
}

.task__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  cursor: pointer;
}

.task__checkbox:checked ~ span {
  text-decoration: line-through;
  opacity: 0.3;
}

.task__label {
  cursor: pointer;
}

.trash,
.edit {
  display: none;
  cursor: pointer;
}

.task__label:hover {
  color: green;
}

.task__description {
  font-size: 16px;
  color: gray;
}

.task__tag {
  display: inline-block;
  padding: 4px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #eee;
  border-radius: 10px;
}

.task_done {
  opacity: 0.3;
}

.invert {
  transform: rotate(180deg);
}

.filters-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 14px;
  background: #f3f3f3;
  border-top: 1px solid #dddddd;
}

.filters {
  display: flex;
  justify-content: center;
  text-align: center;
}

.filters__wrapper {
}

.filters select {
  width: 200px;
  padding: 2px;
}

.filters__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.filters__icon {
  display: none;
  width: 24px;
  height: auto;
}

.filters__icon:hover {
  color: green;
}

.filters__icon_active {
  display: block;
  cursor: pointer;
}

.expired6h {
  color: orange;
}

.expired3h {
  color: red;
}

.hide {
  display: none;
}

/* Pad */
@media (max-width: 799px) {
  /* header {
    padding: 10px;
  } */
}

/* Mobile */
@media (max-width: 599px) {
  .wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .header {
    padding: 10px 0;
  }

  .header__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .header__container {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 98px 0 118px;
  }

  .form {
    padding-right: 40px;
    padding-left: 0;
  }

  .form__extra {
    flex-direction: column;
  }

  .form__chevron {
    right: 10px;
  }

  #form__type {
    width: 100%;
    margin-bottom: 10px;
  }

  #form__date {
    width: 100%;
    margin-bottom: 10px;
  }

  #form__time {
    width: 100%;
  }

  .filters {
    flex-direction: column;
    text-align: center;
  }

  .filters__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .filter__item {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .filter__item:last-child {
    margin-bottom: 0;
  }
}
