body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 24px;
  text-align: center;
}

.form {
  position: relative;
}

.form__title {
  width: 80%;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid transparent;
  outline: 0;
}

.form__description {
  width: 80%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid transparent;
  outline: 0;
}

.form__button {
  height: 30px;
}

.form__title:hover,
.form__description:hover {
  border: 1px solid #000;
}

.form__title:focus,
.form__description:focus {
  border: 1px solid #000;
}

.list {
  padding: 0;
  font-size: 24px;
  list-style: none;
  text-align: left;
}

.list__item {
  /* display: flex; */
  margin-bottom: 10px;
}

.list__item:hover .trash {
  display: inline;
}

.task__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  cursor: pointer;
}

.task__checkbox:checked ~ span {
  text-decoration: line-through;
  opacity: 0.3;
}

.task__label {
  /* display: flex; */
  cursor: pointer;
}

.trash {
  display: none;
  cursor: pointer;
}

.task__label:hover {
  color: green;
}

.task {
}

.task__title {
}

.task__description {
  font-size: 16px;
  color: gray;
}

.form__chevron {
  position: absolute;
  top: 10px;
  right: 70px;
  cursor: pointer;
}

.task--done {
  opacity: 0.3;
}

/* .task-form__details {
  position: relative;
  flex-grow: 1;
}

.list-item__chevron {
  position: absolute;
  top: 30px;
  right: 40px;
}

details {
  padding: 20px;
  border: 1px solid #000;
}

details[open] .list-item__chevron {
  transform: rotate(180deg);
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  cursor: pointer;
} */

.invert {
  transform: rotate(180deg);
}

.hide {
  display: none;
}
